@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.new-event {
  background-color: blue;
}

.header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 10px;
}
.header__nav__title {
  width: 30%;
  margin-left: 15px;
  padding: 0px 10px 0px 0px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.header__nav__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  padding: 10px;
}
.header__nav__menu__item:hover {
  border-top: 10px Solid #FC5B3F;
}
.header__nav__menu__item:active {
  border-top: 10px Solid #FC5B3F;
}
.header__nav__menu__btn {
  padding: 7px;
  letter-spacing: 2px;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #FC5B3F;
  border: 1px solid #FC5B3F;
  font-weight: 700;
}
.header__nav__menu__btn:hover {
  background-color: white;
  color: #fa846f;
  border: 1px solid #FC5B3F;
}
.header__nav__menu__btn:active {
  background-color: white;
  color: #fa846f;
  border: 1px solid #FC5B3F;
}