.main {
    margin: auto;
    border: 2px solid black;
}

.eventsection {
    margin: auto;
    width: 100vw;
    border: 2px solid green;
}

.event {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 95%;
    border: 2px solid yellow;

    &__header {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width:100%;

        &__nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            border: 2px solid pink;


            &__info {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                border: 2px solid rgb(122, 220, 167);
                margin: 0.5rem;
                width: fit-content;


                &__title {
                    font-family: $PrimaryTypeFace;
                    font-size: 2rem;
                    width:fit-content;
                    border: 2px solid blue;
                    margin: 0.5rem;
                };
        
                &__author {
                    width:fit-content;
                    border: 2px solid blueviolet;
                    margin: 0.5rem;
        
                };

            };

            &__buttons {
                position:relative;
                right: 0;
                top: 0;
                float:right;
                width: fit-content;
                height:fit-content;
                align-items: center;
                margin: 0.3rem;
                
                border: 2px solid orange;
            };

        };

        &__description {
            width: 90%;
            margin: 0.2rem;
            padding: 0.3rem;
        }






    };

};