@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
$PrimaryTypeFace : 'Poppins', sans-serif;

$Red : #FC5B3F;
$RedHover : #fa846f;
$Blue : #3376FF;
$BlueHover : #75a1fa;